
.contato-detalhes {
    height: 12rem;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contato-detalhes div{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-top: 2rem;
}
