.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 4rem;
    flex-wrap: wrap;
}

.projects-container a{
    text-decoration: none;
}

.card-container {
    width: 20rem;
    height: 15rem;
    background-color: grey;
    padding: 3rem;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    background-image:url("~/assets/images/banheiro.PNG");
    background-repeat:no-repeat;
    background-size: cover;
}

.card-title{
    margin-top: 5rem;
}

.card-title:hover {
    opacity: 1;
    filter: brightness(100%);
}

.card-container:hover {
    opacity: 0.6;
    filter: brightness(60%);
    transform: scale(1.1, 1.1);
}

.images{
    margin-top: 2rem;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

}

.images img{
    width:300px;
    height: 300px;
    margin-left: 10px;
    margin-top:10px;
}

#modal-imagem{
    width: 65vw;
}

.modal-img{
    width: 100vw;
    height: 135vh;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}

.modal-content-img{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 120vh;
}

#btn-close{
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 5px 10px;
    font-size: 25px;
    border: solid 1px #fff;
}

.modal_active{
    visibility: visible;
}