@{
    ViewData["Title"] = "Início";
}

<div class="body home">
    <div class="text-center">
        <h1 class="display-4">Marcenaria Godoy</h1>
        <h2>Especialista em móveis planejados</h2>
    </div>
    <div class="text-center home-buttons">
        <a class="btn btn-outline-primary" role="button" href="/Home/AboutUs">Quem Somos </a>
        <a class="btn btn-outline-primary" role="button" href="/Home/Projects">Veja nossos projetos </a>
        <a class="btn btn-outline-primary" role="button" href="/Home/Contact">Orçamentos </a>
    </div>
</div>